<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CRUDPROJECT-1</title>
    <link ref="stylesheet" href="{% static 'css/nitin.css' %}">
    
</head>

<body>

    <div class="container">
        <div class="c">FUNCTION BASED MODELFORM CRUDPROJECT-1</div>

        {% block content %}
        {% endblock content %}

    </div>
</body>





    <link ref="stylesheet" href= "{% static '/myapp/js/bootstrap.js' %}">
    <link ref="stylesheet" href= "{% static '/myapp/js/jquery.js' %}">
    <link ref="stylesheet" href= "{% static '/myapp/js/propper.js' %}">
</html>